@font-face {
	font-family: BlissfulThinking;
	src: url(resource/blissfulthinking.ttf);
}
.relpos {
	position: relative;
	background-color: rgba(0,0,0,.6);
	padding-left: 10px;
	padding-bottom: 10px;
}
.content {
	padding-left: 15%;
	padding-right: 15%;
}
.table {
	display: table;
}
.Logo {
	float:left;
}
html, body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-image: url('resource/background.jpeg');
    height: auto;
    background-repeat:no-repeat;
   	background-size:cover;
}
h1,p {
	font-family: BlissfulThinking;
}
div {
	display: block;
}
.Nav {
	list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

li {
	display: inline;
	padding-left: 10px;
}
.Headercbags {
	font-family: BlissfulThinking;
	font-size: 60px;
	color:#FFFFFF;
	padding-top: 15px;
}
.HeaderLinkCbags {text-decoration: none;}
.HeaderLinkCbags:link  {color:#FFFFFF; background-color:transparent}
.HeaderLinkCbags:visited {color:#FFFFFF; background-color:transparent}
.HeaderLinkCbags:active  {color:#FFFFFF; background-color:transparent}
.HeaderLinkCbags:hover{color:#03396C;}

.HeaderLink {
	font-family: BlissfulThinking;
	text-align: center;
	font-size: 26px;
	text-decoration: none;
    width: 90px;
}
.HeaderLink:link  {color:#FFFFFF; background-color:transparent}
.HeaderLink:visited {color:#FFFFFF; background-color:transparent}
.HeaderLink:active  {color:#FFFFFF; background-color:transparent}

#pocketbag:hover{color:#0365B8;}
#junkbucket:hover{color:#93B50C;}
#surfsling:hover{color:#FFF68F;}
#contact:hover{color:#C04000;}



#big-video-wrap {
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.logo {
	position: absolute;
	top: 0%;
	left: 48%;
}

.missionstatementcontentstyle {
	position: absolute;
	display: block;
	background-color: rgba(0,0,0,.6);
	width: 20%;
	top: 28%;
	border-radius: 7px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 1px;
}

.missionstatementcontentmovement {
	padding-left: 2%;
}

.productdesccontentstyle {
	position: absolute;
	background-color: rgba(0,0,0,.6);
	width: 35%;
	top: 28%;
	left: 30%;
	border-radius: 7px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 1px;
}

.productdesccontentmovement {
	padding-left: 3%;
}

.contactaddress:link  {color:#FFFFFF; background-color:transparent}
.contactaddress:visited {color:#FFFFFF; background-color:transparent}
.contactaddress:active  {color:#FFFFFF; background-color:transparent}
.contactaddress:hover{color:#C04000;}
