@font-face {
	font-family: BlissfulThinking;
	src: url(resource/blissfulthinking.ttf);
}
.relpos {
	position: relative;
}
.table {
	display: table;
}
html, body {
    margin: 0;
    padding: 0;
    color: #fff;
    height: auto;
}

div {
	display: block;
}
.Nav {
	list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

li {
	display: inline;
	padding-left: 5px;
}
.Headercbags {
	font-family: BlissfulThinking;

	font-size: 60px;
	color:#FFFFFF;
}

.HeaderLink {
	font-family: BlissfulThinking;
	text-align: center;
	font-size: 26px;
	padding-left: 10px;
	text-decoration: none;
    width: 90px;
}
.HeaderLink:link  {color:#FFFFFF; background-color:transparent}
.HeaderLink:visited {color:#FFFFFF; background-color:transparent}
.HeaderLink:active  {color:#FFFFFF; background-color:transparent}

#pocketbag:hover{color:#0365B8;}
#junkbucket:hover{color:#93B50C;}
#surfsling:hover{color:#FFF68F;}
#contact:hover{color:#C04000;}

#big-video-wrap {
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}



